body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2b2a33;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
}

#overlay {
    position: relative;
}

.glasses {
    position: absolute;
    transition: 1s top;
}

#image {
    max-width: 100vw;
    max-height: 100vh;
}

#customize {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

h1 {
    position: absolute;
    bottom: -100vh;
    transition: all 1.1s;
}

.coolAssText {
    font-size: 10vh;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000,
            2px 2px 0 #E40303,
            4px 4px 0 #FF8C00,
            6px 6px 0 #FFED00,
            8px 8px 0 #008026,
            10px 10px 0 #24408E,
            12px 12px 0 #732982;
}

#dropZone {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 255, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
